<!DOCTYPE html>
	<html lang="en">
	<head>
		 <meta charset="utf-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <meta http-equiv="x-ua-compatible" content="ie=edge">
		 <title>Eggly</title>
		 <link rel="stylesheet" href="styles/main.css">
	 </head>
	<body ng-app="eggApp">
		
		<div ng-controller="MainCtrl">
		
		<!--Home-->
			
			<a href="" ng-click="setCurrentCategory(null)">Home</a>

		<!-- Bookmark -->
		
			<ul>
				<li ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name}">
					{{bookmark.title}}
				</li>
			</ul>
		
		<!-- Categories -->
		
			<ul>
				<li ng-repeat="category in categories">
					<a href="" ng-click="setCurrentCategory(category)" 
					ng-class="{'active': isCurrentCategorySelected(category)}">{{category.name}}</a>
				</li>
			</ul>

		</div>
		
		<script src="scripts/vendor/angular.min.js"></script>
		<script src="scripts/app.js"></script>
	</body>
 </html>