<!DOCTYPE html>
	<html lang="en">
	<head>
		 <meta charset="utf-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <meta http-equiv="x-ua-compatible" content="ie=edge">
		 <title>Eggly</title>
		 <link rel="stylesheet" href="styles/main.css">
	 </head>
	<body ng-app="eggApp">
		
		<div class="container" ng-controller="MainCtrl">

			<!--Home-->
			<div class="home">
				<a href="" ng-click="setCurrentCategory(null)">Home</a>	
			</div>

			<div class="box">
			<!-- Categories -->
			<div class="category">
				<ul>
					<li ng-repeat="category in categories">
						<a href="" ng-click="setCurrentCategory(category)" 
						ng-class="{'active': isCurrentCategorySelected(category)}">{{category.name}}</a>
					</li>
				</ul>
			</div> <!-- End of category -->

			<!-- Bookmark -->
			<div class="bookmark">
				<ul>
					<li ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name}">
						<button ng-click="editCategory(bookmark)">edit</button>
						<label for=""> {{bookmark.title}}</label>
					</li>
				</ul>
				<hr>

				<!-- Create New Book Mark -->
				<div>
					<a href="" ng-show="currentCategory" ng-click="createCategory()">+ Create Bookmark</a>
				</div>
				
				<!-- New Bookmark -->
				<div ng-if="creatingCategory">
					<label for="">Title</label>
					<input type="text">
					<label for="">URL</label>
					<input type="text">
					<button>Create</button>
					<a href="" ng-click="cancelCreating">Cancel</a>
				</div>

				<div ng-if="editingCategory">
					<label for="">Title</label><br>
					<input type="text" ng-model="bookmark.title">
					<label for="">URL</label>
					<input type="text" ng-model="bookmark.url">
					<button>Edit</button>
					<button>Cancel</button>
				</div>

			</div> <!-- End of bookmark -->
			
		</div> <!-- End of box -->
		</div> <!-- End of container -->
		
		<script src="scripts/vendor/angular.min.js"></script>
		<script src="scripts/app.js"></script>

	</body>
 </html>